{% extends "edc_base/base.html" %}
{% load crispy_forms_tags %}

{% block extra-css %}
{{ block.super }}
<style>
.asteriskField {
    display: none;
}
</style>
{% endblock extra-css %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel panel-default">
      <div class="panel-heading"><h4 class="text-muted text-center">{{ project_name }} Login</h4></div>
		{% if messages %}
		    {% for message in messages %}
		      <div class="alert alert-danger text-center">
		    	{{ message }}
		      </div>
		    {% endfor %}
		{% endif %}
		{% csrf_token %}
		<div class="panel-body text-center">
        {% crispy form %}
        </div>
      </div>
      </div>
    <div class="col-md-3"></div>
{% endblock body %}
