Django
django-braces
django-simple-history
django-js-reverse
django-crispy-forms
django-extensions
python-dateutil
unipath
pytz
git+https://github.com/erikvw/django-crypto-fields@develop#egg=django_crypto_fields
git+https://github.com/erikvw/django-revision@develop#egg=django_revision
git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc_constants
git+https://github.com/botswana-harvard/edc-visit-tracking@develop#egg=edc-visit-tracking
git+https://github.com/botswana-harvard/edc-metadata@develop#egg=edc-metadata
git+https://github.com/botswana-harvard/edc-rule-groups@develop#egg=edc-rule-groups
git+https://github.com/botswana-harvard/edc-visit-schedule@develop#egg=edc-visit-schedule