
<!-- start history button -->

<div class="btn-group">

	{% if add_button|default:False %}
		<div class="btn-group">
		  <a title="Add {{ title|lower }}" type="button" class="btn {% if current_history_object.id %}btn-default disabled{% else %}btn-warning{% endif %} btn-sm dropdown-toggle"
		    href="{% url current_history_object.add_url %}?{{ current_history_object.querystring }}">
		      <i class="fa fa-plus"></i>
		  </a>
		</div>
	{% endif %}

	<button title = "{{ title|default:'History' }}" type="button" class="btn btn-default btn-sm">
	  <i class="fa fa-history fa-lg"></i> <i class="fa fa-files-o fa-lg"></i></button>
	<div class="btn-group">
	  <button title="History" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"></span></button>
	      <ul class="dropdown-menu" role="menu">
	        <li class="dropdown-header">{{ title|default:"History" }}</li>
	        {% for history_object in history_objects %}
	          <li><a href="{% url history_object.change_url history_object.pk %}?{{ history_object.querystring }}">{{ history_object.report_datetime }}</a></li>
	        {% endfor %}
	      </ul>
	</div>
</div>
<!-- end history button -->
