{% extends 'admin/change_form.html' %}
{% load staticfiles %}
{% load tz %}
{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "edc_base/css/font-awesome/css/font-awesome.min.css" %}">
{% endblock %}


{% block field_sets %}
        {% if instructions %}
            <H5>Instructions:</H5><p>{{ instructions }}</p>
        {% endif %}
        {% if additional_instructions %}
            <H5>Additional Instructions:</H5><p>{{ additional_instructions }}</p>
        {% endif %}
        {{ block.super }}
{% endblock %}


{% block submit_buttons_bottom %}
{{ block.super }}
<footer class="footer">
  <div class="container">
    <span class="text-muted small text-center">
      <i class="fa fa-copyright"></i> {{ copyright }}&nbsp;{{ institution }}&nbsp;&nbsp;
      <i class="fa fa-leaf"></i> Revision: {{ revision }}&nbsp;&nbsp;
      <i class="fa fa-clock-o"></i> {% get_current_timezone as TIME_ZONE%}{{TIME_ZONE}}&nbsp;&nbsp;
      <i class="fa fa-exclamation-circle"></i> {{ disclaimer }}&nbsp;&nbsp;
    </span>
  </div>
</footer>

{% endblock %}