{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load admin_modify %}
{% load edc_admin_modify %}
{% load common_tags %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="/">{% trans 'Home' %}</a>

    {% if home_url %}
        &rsaquo; <a href="{{ home_url }}">{% trans 'Dashboard' %}</a>
        &rsaquo; {{ opts.verbose_name_plural|capfirst }}
    {% else%}
        &rsaquo; <a href="{% url 'admin:index' %}">{% trans 'Site Admin' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    {% endif %}
    &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}
{% block form_top %}
<b>Instructions:</b> {% for instruction in instructions %}{{ instruction|safe }}<BR>{% endfor %}
<p><i>{{ required_instructions|safe }}</i></p>
{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% comment %}
{% block after_field_sets %}
<small>{{ app_label }}/{{ opts.module_name }}: revision {{ revision_tag|default:'unknown?' }}</small>
{% endblock %}
{% endcomment %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}
    {{ block.super }}
    {% if uses_supplemental_fields %}
        Supplemental Section.&nbsp;
    {% elif has_excluded_supplemental_fields %}
        Some questions on this form are "supplemental". Supplemental questions are not always presented for entry. Either way, always save the form when you are done.
    {% endif %}  
{% endblock %}

{% block submit_buttons_bottom %}
<div class="submit-row">
{% edc_submit_row %}
{% if subject_dashboard_url and dashboard_model == 'visit' %}
  <p class="deletelink-box"><a href="{% url subject_dashboard_url dashboard_type=dashboard_type dashboard_model=dashboard_model dashboard_id=dashboard_id show='forms' %}"/>Cancel</A></p>
{% endif %}
<A href="{% url 'admin:jsi18n' as jsi18nurl %}">{{LANGUAGE_CODE}}</A>

</div>
{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
